<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="MJ">
  <title>공통 푸터</title>
</head>
<body>
  <footer class="main-footer accent-dark">
    <!--/* To the right */-->
    <div class="float-right d-none d-sm-inline">
      <a id="notion-link">우측 링크</a>
    </div>
    <!--/* Default to the left */-->
    <strong><a id="footer-link">대표 링크</a></strong>
  </footer>
</body>
</html>
